.container{
    width: 80%;
    height: 80%;
    border: 2px solid darkgray;
    display: flex;
    padding: 50px;
    border-radius: 40px;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.leftcont{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 40px;
}

.rightcont{
    height: 40%;
    width: 50%;
    display: flex;
}

.script{
    height: 50%;
    width: 90%;
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}

.col1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 40px;
    
}

.col2{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

input{
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
}


input:hover, input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  

  button {
    font-size: 16px;
    position: relative;
    margin: auto;
    padding: 1em 2.5em 1em 2.5em;
    border: none;
    background: #fff;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
    width: 80%;
   }
   
   button:active {
    transform: scale(0.95);
   }
   
   button span {
    color: #464646;
   }
   
   button .border {
    position: absolute;
    border: 0.15em solid #000000;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 3em;
    transform: translate(-50%, -50%);

   }
   
   button:hover .border {
    display: block;
    width: 108%;
    height: 102%;
   }
   
   .full-rounded {
    border-radius: 2em;
   }
